<div class="banner">
  <h1>Cocktails</h1>
  <%= link_to 'Add a new cocktail', new_cocktail_path %>
</div>
<div class="container">
  <div class="card-grid">
    <% @cocktails.each do |thing| %>
      <a href="/cocktails/<%= thing.id %>">
        <div class="card d-flex justify-content-around align-items-center">
        <%= thing.name %>
      </div>
      </a>
    <% end %>
  </div>
</div>
