<div class="banner">
  <h1>Cocktails</h1>
  <%= link_to 'Add a new cocktail', new_cocktail_path %>
</div>
<div class="container">
  <div class="card-grid">
    <% @cocktails.each do |thing| %>
      <a href="/cocktails/<%= thing.id %>" class="card-link">
        <div class="card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= thing.image_url %>)">
        <%= thing.name %>
      </div>
      </a>
    <% end %>
  </div>
</div>
