<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% if @cocktail.doses.description %>
    <p><%= @cocktail.doses.description %></p>
  <% else %>
    <p>There doesn't seem to be a description for <%= @cocktail.name %>, maybe you'd like to add one?</p>
  <% end %>
</div>
