<div class="container">
  <h1>Edit <%= @dose.ingredient.name %></h1>
  <%= link_to 'Back to ' + @dose.cocktail.name, cocktail_path(@dose.cocktail), class: 'button-edit' %>
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
