.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 104px;
  width: 70vw;
  margin: 0 auto;

  .card-container {
    position: relative;
    transition: 0.2s;
    width: 480px;

    &:hover {
      transform: scale(1.01)
    }

    .card-link {
      color: #fff;
      margin: 0;
      display: block;
      position: relative;

      .card-top {
        height: 340px;
        font-size: 36px;
        font-weight: 900;
        background-position: center 20%;
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
      }
    }
  }

  .offset-left {
    margin: 0 40% 0 10%;
  }

  .offset-right {
    margin: 0 10% 0 40%;
  }
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 96px;
  margin: 16px 24px;

  .dose-info {
    position: relative;

    .card-right {
      position: absolute;
      right: -28px;
    }
  }
}

.card-reviews {
  width: 480px;
  margin: 0 auto;
  .card-review {
    margin: 24px 24px;

    .review-left {
      margin: 0 24px 0 0;

      p {
        margin: 0;
      }
    }
  }
}
