.container {
  background: #fff8f7;
  padding: 72px 0;
  text-align: center;

  h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 40px auto;
  }
}

.cocktail_container {
  margin: 0 auto;
  width: 600px;
  background: #fff8f7;
  padding: 96px 0;
  text-align: center;

  h1 {
    font-size: 72px;
    font-weight: bold;
    margin: 40px auto 0;
  }
}
