.form {
  margin: 0 auto;
  width: 360px;
  padding: 36px;
  background: rgba(255,213,209,0.3);
  border-radius: 2px;

  label {
    width: 100%;
    text-align: left;
  }

  input, textarea {
    border: 0;
    border-radius: 2px;
  }

  .select2 {
    .select2-selection--single {
      border: 0;
      border-radius: 2px;
    }

    .submit {
      padding: 8px 16px;
    }
  }
}

.select2-dropdown {
  border: 0 !important;
  border-radius: 2px !important;
}
