.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.cocktail-navbar {
  background: #FFF8F7;
  padding: 24px 36px;

  .navbar-left {
    i {
      font-size: 24px;
      color: rgba(244,183,183,0.9);
      transition: 0.2s;
      margin: 0 16px 0 0;

      &:hover {
        color: rgba(244,183,183,1);
      }
    }

    h3 {
      color: #000;
      margin: 0;
      line-height: 12px;
    }

    a:hover {
      color: #000;
      text-decoration: none;
    }
  }
}
